body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.message-wrapper{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}

.status {
  padding: .5rem;
  /* background-color: gold; */
  border-radius: 4px;
}

.reset{
  font-family: 'Century Gothic', Futura, sans-serif;
  border-radius: 4px;
  color: black;
  background-color: cornsilk;
  margin: 0;
  padding: .5rem;
  border: 0;
  cursor: pointer;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-wrapper{
  display: flex;
  min-width: 300px;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 1rem 2rem 2.5rem;
}

.game-info {
  margin-left: 20px;
}

.game-info button{
  font-family: 'Century Gothic', Futura, sans-serif;
  background-color: white;
  color: black;
  padding: .5rem;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 3px gainsboro;
  margin-bottom: .5rem;
  cursor: pointer;
}